body{
    background-color: peachpuff;
}

#box {
    width: 8vw;
    height: 5vw;
    background-color: #b916f4;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box p {
    font-size: 1.7vw;
    color: white;
}