html{
	background:linear-gradient(to top left ,orange, pink , khaki);
	background-repeat:no-repeat;height:100%;
}
body{
	font-family:sans-serif;
}
.container{
	margin:30vh 0;
	text-align:center;
	display:flex;
	flex-direction:column;
}
.container div{
	margin:10px 0;
}
#quote{
	font-size:3rem;color:#cc9709;
}
#author{
	font-size:2rem;color:black;
}
.btn { 
      font-size: 1rem;    
      font-weight: 700;
      letter-spacing:1px;
      line-height: 1;   
      outline:none; 
      padding: 0.8em 0.8em 0.78em;
      text-transform: uppercase;
      cursor:pointer;
      color:white;
      box-shadow: 0 9px gray;   
      background-color:black;
  }
  .btn:active{
    position: relative;
    top: 7px;
    box-shadow: none;
  }